<component name="libraryTable">
  <library name="mybatis-3.5">
    <CLASSES>
      <root url="file://$USER_HOME$/Downloads/mybatis-3.5.5" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$USER_HOME$/Downloads/mybatis-3.5.5" recursive="false" />
  </library>
</component>